#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ja_n2: ja_number_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp LBKT>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        macro_ltu: macro_ltu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp T &kp U>;
            label = "MACRO_LTU";
        };

        macro_nn: macro_nn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp N>;
            label = "MACRO_NN";
        };

        macro_ime_on: macro_ime_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_4 &kp F18 &to 4>;
            label = "MACRO_IME_ON";
        };

        macro_ime_off: macro_ime_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp F17 &to 0>;
            label = "MACRO_IME_OFF";
        };

        macro_SANTEN: macro_SANTEN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp FSLH &kp FSLH>;
            label = "MACRO_SANTEN";
        };

        macro_YA: macro_YA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp A>;
            label = "MACRO_YA";
        };

        macro_YU: macro_YU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp U>;
            label = "MACRO_YU";
        };

        macro_YO: macro_YO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O>;
            label = "MACRO_YO";
        };

        macro_LA: macro_LA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp A>;
            label = "MACRO_LA";
        };

        macro_LI: macro_LI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp I>;
            label = "MACRO_LI";
        };

        macro_LU: macro_LU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp U>;
            label = "MACRO_LU";
        };

        macro_LE: macro_LE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp E>;
            label = "MACRO_LE";
        };

        macro_LO: macro_LO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp O>;
            label = "MACRO_LO";
        };

        macro_LYA: macro_LYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y &kp A>;
            label = "MACRO_LYA";
        };

        macro_LYU: macro_LYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y &kp U>;
            label = "MACRO_LYU";
        };

        macro_LYO: macro_LYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp Y &kp O>;
            label = "MACRO_LYO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC           &kp N1            &kp N2     &kp N3      &kp N4     &kp N5  &tog 1                                                                      &mo 3          &kp N6  &kp N7  &kp N8    &kp N9    &kp N0    &kp MINUS
&kp TAB           &kp SINGLE_QUOTE  &kp COMMA  &kp PERIOD  &kp P      &kp Y   &none                                                                       &to 4          &kp F   &kp G   &kp C     &kp R     &kp L     &kp SLASH
&kp LEFT_CONTROL  &kp A             &kp O      &kp E       &kp U      &kp I   &kp F17  &kp EQUAL  &kp LALT           &kp LGUI       &kp NON_US_BACKSLASH  &macro_ime_on  &kp D   &kp H   &kp T     &kp N     &kp S     &kp RIGHT_CONTROL
&kp LSHFT         &kp SEMICOLON     &kp Q      &kp J       &kp K      &kp X                       &kp DELETE         &kp DELETE                                          &kp B   &kp M   &kp W     &kp V     &kp Z     &kp RSHFT
&mo 2             &kp GRAVE         &kp CAPS   &kp LEFT    &kp RIGHT          &mo 1    &kp SPACE  &kp BACKSPACE      &kp BACKSPACE  &kp ENTER             &mo 1                  &kp UP  &kp DOWN  &kp LBKT  &kp RBKT  &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp ESCAPE        &none      &none           &none              &none            &none          &trans                                                     &mo 3   &none              &none              &none            &none            &none    &none
&kp TAB           &none      &kp PAGE_UP     &kp UP             &kp PAGE_DOWN    &none          &none                                                      &none   &none              &kp PAGE_UP        &kp UP_ARROW     &kp PAGE_DOWN    &none    &none
&kp LEFT_CONTROL  &kp HOME   &kp LEFT_ARROW  &kp DOWN_ARROW     &kp RIGHT_ARROW  &kp END        &none   &none    &kp LALT           &kp LGUI    &none      &none   &kp HOME           &kp LEFT_ARROW     &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp END  &kp RIGHT_CONTROL
&kp LSHFT         &kp LC(Z)  &kp LC(X)       &kp LC(C)          &kp LC(V)        &kp LA(SPACE)                   &none              &none                          &kp K_APPLICATION  &kp LC(KP_PLUS)    &kp F17          &kp F18          &none    &kp RSHFT
&mo 2             &none      &none           &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                 &trans  &kp DEL  &kp BACKSPACE      &kp DELETE  &kp ENTER  &trans                     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F22          &kp F23  &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F18  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans   &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        Japanese {
            display-name = "Red";
            bindings = <
&kp ESC           &kp N1               &kp N2               &kp N3    &kp N4     &kp N5      &tog 1                                                                             &mo 3    &kp N6     &kp N7     &kp N8      &kp N9     &kp N0         &kp MINUS
&kp TAB           &kp P                &kp R                &kp N     &kp M      &kp COMMA   &to 0                                                                              &none    &none      &macro_YO  &kp U       &kp O      &kp Y          &kp APOS
&kp LEFT_CONTROL  &kp H                &kp T                &kp S     &kp K      &kp W       &macro_ime_off  &kp EQUAL  &kp LALT           &kp LGUI       &kp NON_US_BACKSLASH  &kp F18  &macro_YU  &kp A      &kp I       &kp E      &kp LS(SLASH)  &kp RIGHT_CONTROL
&sl 5             &kp B                &kp D                &kp Z     &kp G      &kp PERIOD                             &kp DELETE         &kp DELETE                                    &macro_YA  &macro_nn  &macro_ltu  &kp MINUS  &kp L          &sl 5
&mo 7             &kp INTERNATIONAL_2  &kp INTERNATIONAL_1  &kp LEFT  &kp RIGHT              &mo 6           &kp SPACE  &kp BACKSPACE      &kp BACKSPACE  &kp ENTER             &mo 6               &kp UP     &kp DOWN    &kp LBKT   &kp RBKT       &mo 7
            >;
        };

        JAPANESE_Shift {
            display-name = "Red";
            bindings = <
&kp ESC           &kp LS(N1)           &kp LS(N2)           &kp LS(N3)  &kp LS(N4)  &kp LS(N5)      &tog 1                                                                                     &mo 3    &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)     &kp LS(N0)    &kp LS(MINUS)
&kp TAB           &kp F                &none                &none       &none       &kp LS(COMMA)   &to 0                                                                                      &none    &none       &macro_LYO  &macro_LU   &macro_LO      &none         &kp LS(APOS)
&kp LEFT_CONTROL  &none                &none                &none       &none       &none           &macro_ime_off  &kp LS(EQUAL)  &kp LALT           &kp LGUI       &kp LS(NON_US_BACKSLASH)  &kp F18  &macro_LYU  &macro_LA   &macro_LI   &macro_LE      &kp SLASH     &kp RIGHT_CONTROL
&kp LSHFT         &kp V                &none                &none       &none       &kp LS(PERIOD)                                 &kp DELETE         &kp DELETE                                        &macro_LYA  &none       &none       &kp LS(MINUS)  &none         &kp RSHFT
&mo 7             &kp INTERNATIONAL_2  &kp INTERNATIONAL_1  &kp LEFT    &kp RIGHT                   &none           &kp LS(SPACE)  &kp BACKSPACE      &kp BACKSPACE  &kp ENTER                 &none                &kp UP      &kp DOWN    &kp LS(LBKT)   &kp LS(RBKT)  &mo 7
            >;
        };

        Keypad_JP {
            display-name = "Purple";
            bindings = <
&kp ESCAPE        &none      &none           &none              &none            &none          &trans                                                     &mo 3   &none              &none              &none            &none            &none    &none
&kp TAB           &none      &kp PAGE_UP     &kp UP             &kp PAGE_DOWN    &none          &none                                                      &none   &none              &kp PAGE_UP        &kp UP_ARROW     &kp PAGE_DOWN    &none    &none
&kp LEFT_CONTROL  &kp HOME   &kp LEFT_ARROW  &kp DOWN_ARROW     &kp RIGHT_ARROW  &kp END        &none   &none    &kp LALT           &kp LGUI    &none      &none   &kp HOME           &kp LEFT_ARROW     &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp END  &kp RIGHT_CONTROL
&kp LSHFT         &kp LC(Z)  &kp LC(X)       &kp LC(C)          &kp LC(V)        &kp LA(SPACE)                   &none              &none                          &kp K_APPLICATION  &kp LC(KP_PLUS)    &kp F17          &kp F18          &none    &kp RSHFT
&mo 2             &none      &none           &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                 &trans  &kp DEL  &kp BACKSPACE      &kp DELETE  &kp ENTER  &trans                     &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp F22          &kp F23  &mo 2
            >;
        };

        Fn_JP {
            display-name = "Cyan";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F18  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans   &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans   &trans   &trans   &trans
            >;
        };
    };
};
